{
  "extends": [
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "warn",
    "prettier/prettier": "error",
    "@next/next/no-page-custom-font": "off"
  }
}
