$top-bar-height: 3rem;

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $top-bar-height;
  padding: 0 1rem;
}

.editor {
  height: calc(100% - #{$top-bar-height});
  display: flex;

  > * {
    height: 100%;
    flex: 1 1 auto;
  }
}

.sideBar {
  flex: 0 1 15rem;
  min-width: 15rem;
  padding: 0.5rem;
  overflow-y: auto;
}

.container {
  height: 100%;
  overflow: auto;
  background-color: #fff;
}

.indicator {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: content-box;
  z-index: 1000;

  &Top {
    @extend .indicator;
    border-top: 1px dashed red;
  }

  &Right {
    @extend .indicator;
    border-right: 1px dashed red;
  }

  &Bottom {
    @extend .indicator;
    border-bottom: 1px dashed red;
  }

  &Left {
    @extend .indicator;
    border-left: 1px dashed red;
  }
}

.inlineBlock {
  display: inline-block;
}
